# =========================================
# DEPENDENCIAS
# =========================================
node_modules/
.pnp/
.pnp.js

# =========================================
# ENTORNO Y SEGURIDAD
# =========================================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# =========================================
# BUILDS Y COMPILADOS
# =========================================
dist/
dist-ssr/
build/
out/

# =========================================
# LOGS Y DEBUGGING
# =========================================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================================
# CACHÉ Y TEMPORALES DE HERRAMIENTAS
# =========================================
.npm/
.eslintcache
.stylelintcache
.vite/
.turbo/
coverage/
docs

# =========================================
# SISTEMA OPERATIVO Y EDITORES
# =========================================
.DS_Store
Thumbs.db
.vscode/*
.vscode
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
# Engram AI agent memory
.engram/
